<h1><%= @user.name %></h1>
<h4><%= @user.nickname %></h4>
<img src="<%= @user.image %>">

<h1>Followers</h1>

<% @followers.each do |follower| %>
<h4><%= link_to follower.login, follower.html_url %></h4>
<img src="<%= follower.avatar_url %>">
<% end %>


<h1>Following</h1>

<% @following.each do |following| %>
<h4><%= link_to following.login, following.html_url %></h4>
<img src="<%= following.avatar_url %>">
<% end %>

<h1>Starred Repos</h1>

<% @starred_repos.each do |repo| %>
<h4><%= link_to repo.name, repo.html_url %></h4>
<p> <%= repo.owner['login'] %>  </p>
<% end %>

<h1>My Repos</h1>

<ul>
<% @repos.each do |repo| %>
<li><%= link_to repo.name, repo.html_url %></li>
<% end %>

</ul>

<h1>My Activity</h1>

<ul>
<% @activities.each do |activity| %>
  <% if activity.type == "PushEvent" %>
    <li>Commit for:
      <a href="https://github.com/<%=activity.repo['name']%>/commits?author?<%=activity.actor['login']%>"> <%= activity.repo['name'] %> </a>by <%= current_user.nickname %> </li>
  <% elsif activity.type == "PullRequestEvent" %>
        <li>Pull Request for:<a href="<%=activity.payload['pull_request']['html_url']%>"> <%= activity.repo['name'] %> </a>by <%= current_user.nickname %> </li>
  <% else %>
    <li> <%= activity.type %> for:
        <a href="https://github.com/<%=activity.repo['name']%>"> <%= activity.repo['name'] %> </a></li>
  <%end  %>

<% end %>

</ul>


<h1>Activity for People I'm Following</h1>

<ul>
<% @others_activities.each do |activity| %>
  <% if activity.type == "PushEvent" %>
    <li>Commit for:
      <a href="https://github.com/<%=activity.repo['name']%>/commits?author?<%=activity.actor['login']%>"> <%= activity.repo['name'] %> </a>by <%= activity.actor["login"] %> </li>
  <% elsif activity.type == "PullRequestEvent" %>
        <li>Pull Request for:<a href="<%=activity.payload['pull_request']['html_url']%>"> <%= activity.repo['name'] %> </a>by <%= activity.actor["login"] %> </li>
  <% else %>
    <li> <%= activity.type %> for:
        <a href="https://github.com/<%=activity.repo['name']%>"> <%= activity.repo['name'] %> </a></li>
  <%end  %>

<% end %>

</ul>
