<table class="table">
<% activities.each do |activity| %>
<tr>
  <td>
    <%= commit_link(activity) %>
    <p> by <%= activity.actor["login"]%></p>
    <p><%= commit_message(activity)%></p>

    <% if activity.updated_at %>
    <p> Updated <%=days_from_today activity.updated_at %> ago </p>
    <% else %>
    <p> Created <%=days_from_today activity.created_at %> ago </p>
    <% end %>
  </td>
</tr>
<% end %>
</table>
